.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.openModal {
    display: block;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 20px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.myBtn {
    padding: 14px 17px;
    color: #000000;
    border: 2px solid #6cc2ce;
    border-radius: 100%;
    background-color: #ffffff;
    position: fixed;
    bottom: 15px;
    left: 50%;
}

.openBtn:hover,
.openBtn:focus {
    -webkit-box-shadow: -1px -1px 61px 14px rgba(255, 255, 255, 1);
    -moz-box-shadow: -1px -1px 61px 14px rgba(255, 255, 255, 1);
    box-shadow: -1px -1px 61px 14px rgba(255, 255, 255, 1);
    outline: none;
    cursor: pointer;
    transition-duration: 0.5s;
}

.closeBtn{
    -webkit-box-shadow: -1px -1px 61px 14px rgba(255, 255, 255, 1);
    -moz-box-shadow: -1px -1px 61px 14px rgba(255, 255, 255, 1);
    box-shadow: -1px -1px 61px 14px rgba(255, 255, 255, 1);
    outline: none;
    cursor: pointer;
}

.inputTask{
    outline: none;
    font-size: 1.5em;
    color: rgb(68, 68, 68);
    border: none;
    padding: 10px;
    width: 85%;
}
